@use '/src/styles/base';

.nav-menu{
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;

  .nav-link {
    padding: 0 1rem;
    color: map-get(base.$colors, grey-light)
  }
}

