.form-box {
  text-align: center;
  background: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  width: 40rem;
  margin: 1.25rem 0;

  &__heading {
    font-size: 1.75rem;
    font-weight: bold;
  }

}
