@use '/src/styles/base';

.form-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  box-sizing: border-box;



  &__label-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    label {
      font-size: 1.1rem;
      font-weight: 500;
      margin: 1.5rem 0
    }

  }

  &__form {
    margin-top: 3rem;
    margin-left: 2rem;
  }


  &__item {
    padding-top: 1.2rem;
    text-align: left;



    &__input {
      width:23rem;
      height: 2.8rem;
      border: 1px solid map-get(base.$colors, blue-light);
      border-radius: 4px;
      padding-left: 1rem;



      &::placeholder {
        color: map-get(base.$colors, blue-light);
        font-size: 1rem;
      }

    }

    &__select {
      border: 1px solid map-get(base.$colors, blue-light);
      height: 3.0rem;
      border-radius: 4px;
      width: 3.7rem
      //position: absolute;

    }
    &__submit {
      padding: 0.5rem 0;
      &__button {
        width: 17.5rem;
        height: 3rem;
        background: map-get(base.$colors, blue-dark);
        outline: none;
        border: none;
        border-radius: 2px;
        font-size: 1.1rem;
        color: map-get(base.$colors, white);
        font-weight: 500;
      }
    }

    .phone__input {
        width: 19.3rem;
    }

  }

  @media (max-width:1185px ) {
    .form-input__item{
      &__input{
        width: 16rem;
      }
      &__submit__button {
        margin-left: 3.5rem;
        width: 11rem;
      }

    }
  }

  @media (max-width:base.$breakpoint-tablet ) {
    .form-input{
      .form-input__item{
        &__input{
          width: 22.5rem;
        }
        &__submit__button {
          margin-left: 3.5rem;
          width: 17.5rem;
        }
      }
    }
    .phone__input {
      width: 12.3rem;
    }
  }

  @media (max-width:base.$breakpoint-mobile ) {
    .form-input{
      &__form{
        margin-left: 1rem;
      }
      &__item{
        text-align: left;
      }
    }

    .form-input__item {
      label {
        font-size: 0.9rem;
        //margin-right: 10rem
      }
      &__input {
        width: 8rem;
      }

      &__submit__button {
        margin: 0;
        width: 9rem;
      }
    }
    .phone__input {
      width: 4.3rem;
    }
  }
}

