@use '/src/styles/base';

.form-input {
  margin-top:1.6rem;
  &__item {
    margin: 1rem 0;
    label {
      margin-right: 0.8rem;
      font-size: 1.1rem;
      font-weight: 500;
    }
    &__input {
      width: 22.5rem;
      height: 2.8rem;
      border: 1px solid map-get(base.$colors, blue-light);
      border-radius: 4px;
      padding-left: 0.5rem;

      &::placeholder {
        color: map-get(base.$colors, blue-light);
        font-size: 1rem;
      }

      &--add-margin {
        margin-right: 1.8rem;
      }
    }
    &__submit {
      padding: 0.5rem 0;
      &__button {
        margin-left: 5rem;
        width: 17.5rem;
        height: 3rem;
        background: map-get(base.$colors, blue-dark);
        outline: none;
        border: none;
        border-radius: 2px;
        font-size: 1.1rem;
        color: map-get(base.$colors, white);
        font-weight: 500;
      }
    }

  }

  @media (max-width:1162px ) {
    .form-input__item{
      &__input{
        width: 16rem;
      }
      &__submit__button {
        margin-left: 3.5rem;
        width: 11rem;
      }

    }
  }

  @media (max-width:base.$breakpoint-tablet ) {
    .form-input__item{
      &__input{
        width: 22.5rem;
      }
      &__submit__button {
        margin-left: 3.5rem;
        width: 17.5rem;
      }
    }
  }

  @media (max-width:base.$breakpoint-mobile ) {
    .form-input__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-size: 0.9rem;
        margin-right: 14rem
      }


      &__input {
        width: 17rem;

        &--add-margin {
          margin-right: 0;
        }

      }

      &__submit__button {
        margin: 0;
        width: 12rem;
      }
    }
  }
}

