@use '/src/styles/base';

.testimonial {
  margin: 0 auto;
  width: 75%;
  border: 1px solid black;

  &-item {
    text-align: center;
    padding-bottom: 1.8rem;
    font-size: 1.1rem;
    color: map-get(base.$colors, grey-dark);
    div {
      padding-top: 1rem;
      font-size: 1.1rem
    }
    & > img {
      margin: 0 auto;
      padding: 1.5rem 0
    }
    &__quote{
      padding: 0 14rem;
      font-style: italic;
      text-align: justify;
    }
    &__quoter{
      font-weight: bold;
    }
    &__position {

    }

  }

}

.slick-next,
.slick-prev {
  width: 2rem;
  height: 2rem;
}

.button__bar {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 80px;

  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.4rem;

    &.slick-active button {
      background-color: map-get(base.$colors, blue-light);
    }
  }

  button {
    border: none;
    background: map-get(base.$colors, blue-lighter);
    color: transparent;
    cursor: pointer;
    display: block;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
  }

}

@media (max-width: base.$breakpoint-tablet ) {
  .testimonial {
    width: 90%;
    &-item {
      text-align: center;
      padding-bottom: 1.8rem;
      font-size: 1.1rem;
      color: map-get(base.$colors, grey-dark);
      &__quote{
        padding: 0 7rem;
        font-style: italic;
        text-align: justify;
      }
    }
  }
}

@media (max-width: base.$breakpoint-mobile ) {
  .testimonial {
    width: 90%;
    position: relative;
    &-item {
      text-align: center;
      padding-bottom: 1.8rem;
      font-size: 1.1rem;
      color: map-get(base.$colors, grey-dark);
      &__quote{
        padding: 0 2rem;
        font-style: italic;
        text-align: justify;
      }
    }
  }
}


