@use '/src/styles/base';

.testimonial {
  margin: 0 auto;
  width: 75%;

  &-item {
    text-align: center;
    padding-bottom: 1.8rem;
    font-size: 1.1rem;
    color: map-get(base.$colors, grey-dark);
    div {
      padding-top: 1rem;
      font-size: 1.1rem
    }
    & > img {
      margin: 0 auto;
      padding: 1.5rem 0
    }
    &__quote{
      padding: 0 15rem;
      font-style: italic;
      text-align: justify;
    }
    &__quoter{
      font-weight: bold;
    }
    &__position {

    }

  }

}

.slick-next,
.slick-prev {
  width: 3rem;
  height: 3rem;
}

.button__bar {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 80px;

  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.4rem;

    &.slick-active button {
      background-color: map-get(base.$colors, blue-light);
    }
  }

  button {
    border: none;
    background: map-get(base.$colors, blue-lighter);
    color: transparent;
    cursor: pointer;
    display: block;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
  }

}
