@use '/src/styles/base';

.offerings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 13rem;

  &-item {
    padding: 2rem 2rem;
    text-align: center;

    &__heading {
      color: map-get(base.$colors, grey-darker);
      font-size: 1.1rem;
      font-weight: bold;
    }
    &__text {
      font-weight: 500;
      color: map-get(base.$colors, grey-dark)
    }
  }
}
