@use '/src/styles/base';

.offerings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //flex-wrap: wrap;
  padding: 0 10rem;
  border: 1px solid black;

  &-item {
    padding: 2rem 2rem;
    text-align: center;

    &__heading {
      color: map-get(base.$colors, grey-darker);
      font-size: 1.1rem;
      font-weight: bold;
    }
    &__text {
      font-weight: 500;
      color: map-get(base.$colors, grey-dark)
    }
  }

}

@media (max-width: base.$breakpoint-tablet ) {
  .offerings {
    padding: 0 0;
    &-item{
      &__heading{

      }
      &__text {

      }
    }

  }
}

@media (max-width: base.$breakpoint-mobile ) {
  .offerings {
    padding: 0 0;
    flex-wrap: wrap;
    &-item{
      &__heading{

      }
      &__text {

      }
    }

  }
}
